@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
/* line 2, ../sass/base/_base.scss */
body {
  background-image: url("../img/b-g.jpg");
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 16px;
}
/* line 7, ../sass/base/_base.scss */
body::-webkit-scrollbar {
  display: none;
}

/* line 12, ../sass/base/_base.scss */
.section-padding {
  padding: 3em 0;
}

/* line 17, ../sass/base/_base.scss */
.heading {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 24, ../sass/base/_base.scss */
.primary-btn {
  text-align: center;
  text-transform: uppercase;
  background: #3f145b;
  color: #fff;
  padding: 14px 20px;
  margin: 20px 0;
  border-radius: 3px;
  letter-spacing: 2px;
  border: none;
  font-weight: 500;
}
/* line 35, ../sass/base/_base.scss */
.primary-btn:hover {
  background-color: #5b0791;
  color: #fff;
}

/* line 41, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
  outline: none;
}

/* line 48, ../sass/base/_base.scss */
.owl-nav button {
  font-size: 1.5em !important;
  color: #3f145b !important;
}
/* line 52, ../sass/base/_base.scss */
.owl-nav .owl-prev {
  float: left;
  margin-left: 10px;
}
/* line 56, ../sass/base/_base.scss */
.owl-nav .owl-next {
  float: right;
  margin-right: 10px;
}

/* line 1, ../sass/module/_nav.scss */
.trans-back {
  background-color: transparent !important;
  transition: 0.5s;
}
/* line 4, ../sass/module/_nav.scss */
.trans-back .nav-serv {
  transition: 0.5s;
  padding-top: 20px;
}

/* line 9, ../sass/module/_nav.scss */
.navbar {
  border-radius: 0px;
}

/* line 12, ../sass/module/_nav.scss */
.navbar-inverse {
  background-color: #3f145b;
  transition: 0.5s;
  border: none;
}
/* line 17, ../sass/module/_nav.scss */
.navbar-inverse .navbar-brand {
  color: #fff;
}
/* line 19, ../sass/module/_nav.scss */
.navbar-inverse .navbar-brand:hover {
  color: #fff;
}
/* line 23, ../sass/module/_nav.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
/* line 25, ../sass/module/_nav.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #5b0791;
}
/* line 30, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv {
  color: #fff;
  transition: 0.5s;
}
/* line 33, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv .group {
  display: flex;
  transition: 0.2s;
  cursor: pointer;
}
/* line 37, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv .group:hover {
  box-shadow: 0px 0px 5px 4px #3f145b;
}
/* line 40, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv .group .icon {
  width: 25%;
}
/* line 43, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv .group .caption {
  width: 50%;
  padding-top: 15px;
}
/* line 46, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv .group .caption .txt-dis {
  text-align: left;
}

/* line 54, ../sass/module/_nav.scss */
.btn--md {
  border-radius: 50%;
  position: fixed;
  z-index: 777;
  top: 50%;
  right: 0;
}
/* line 60, ../sass/module/_nav.scss */
.btn--md:focus {
  outline: none;
}
/* line 63, ../sass/module/_nav.scss */
.btn--md:active {
  outline: none;
}

/* line 70, ../sass/module/_nav.scss */
.modal-dialog {
  margin-top: 90px;
}

/* line 73, ../sass/module/_nav.scss */
.modal-content {
  background: #3f145b;
  color: #fff;
}
/* line 76, ../sass/module/_nav.scss */
.modal-content i {
  margin-top: 25px;
  padding: 6px;
  border-radius: 50%;
  transition: 0.2s;
  font-size: 1.2em;
  border: 1px solid;
  width: 35px;
}
/* line 84, ../sass/module/_nav.scss */
.modal-content i:hover {
  transform: translateY(-4px);
  color: #999;
}

/* line 90, ../sass/module/_nav.scss */
.modal-header {
  border-bottom: none;
}
/* line 92, ../sass/module/_nav.scss */
.modal-header button {
  outline: none;
  color: #fff;
  opacity: .8;
  transition: .2s;
}

/* line 99, ../sass/module/_nav.scss */
.modal-footer {
  border-top: none;
}

/* line 102, ../sass/module/_nav.scss */
.modal-body input {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
}

/* line 2, ../sass/module/_about.scss */
.about img {
  padding: 10px 0;
}

/* line 2, ../sass/module/_services.scss */
.services .tab-content {
  padding: 20px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 0;
}

/*  bhoechie tab */
/* line 3, ../sass/module/_clients.scss */
div.bhoechie-tab-container {
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 20px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}

/* line 18, ../sass/module/_clients.scss */
div.bhoechie-tab-menu {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

/* line 23, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group {
  margin-bottom: 0;
}

/* line 26, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a {
  margin-bottom: 0;
}

/* line 29, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a .glyphicon,
div.bhoechie-tab-menu div.list-group > a .fa {
  color: #3f145b;
}

/* line 33, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a:first-child {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}

/* line 37, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a:last-child {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}

/* line 41, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu div.list-group > a.active .fa {
  background-color: #3f145b;
  background-image: #3f145b;
  color: #ffffff;
}

/* line 48, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a.active:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #3f145b;
}

/* line 60, ../sass/module/_clients.scss */
div.bhoechie-tab-content {
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

/* line 67, ../sass/module/_clients.scss */
div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
  display: none;
}

/* line 72, ../sass/module/_clients.scss */
.clients .list-group-item {
  padding: 25px 15px;
}
/* line 75, ../sass/module/_clients.scss */
.clients--content {
  padding-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  color: #3f145b;
}
/* line 81, ../sass/module/_clients.scss */
.clients--content img {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 84, ../sass/module/_clients.scss */
.clients--content h4 {
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
  font-weight: bold;
}
/* line 90, ../sass/module/_clients.scss */
.clients--content:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  cursor: zoom-in;
}

/* line 1, ../sass/module/_testimonial.scss */
.testimonial_subtitle {
  color: #3f145b;
  font-size: 12px;
}

/* line 5, ../sass/module/_testimonial.scss */
.testimonial_btn {
  background-color: #3f145b !important;
  color: #fff !important;
}

/* line 1, ../sass/module/_gallery.scss */
.gallery--item {
  position: relative;
  padding-top: 15px;
}

/* line 6, ../sass/module/_gallery.scss */
.overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(63, 20, 91, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

/* line 21, ../sass/module/_gallery.scss */
.gallery--item:hover .overlay {
  opacity: 1;
}
