/* line 1, ../sass/base/_base.scss */
body {
  background-image: url("../img/b-g.jpg");
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/* line 8, ../sass/base/_base.scss */
.section-padding {
  padding: 3em 0;
}

/* line 13, ../sass/base/_base.scss */
.heading {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

/* line 19, ../sass/base/_base.scss */
.primary-btn {
  text-align: center;
  text-transform: uppercase;
  background: #3f145b;
  color: #fff;
  padding: 14px 20px;
  margin: 20px 0;
  border-radius: 3px;
  letter-spacing: 2px;
  border: none;
  font-weight: 500;
}
/* line 30, ../sass/base/_base.scss */
.primary-btn:hover {
  background-color: #5b0791;
  color: #fff;
}

/* line 2, ../sass/module/_about.scss */
.about img {
  padding: 10px 0;
}
