footer {
    background-color: $primary-color;
    background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
    color: #fff;
    border-top: 5px solid #2f0e44;
    .footer-logo {
        padding-bottom: 10px;
    }
    h3 {
        font-weight: bold;
    }
    ul {
        display: inline;
        li {
            list-style-type: none;
            a {
                color: #fff;
                transition: 0.2s;
                &:hover {
                    color: #c0c0c0;
                    border-left: 2px solid #fff;
                    padding-left: 10px;
                }
            }
        }
    } // social-icon
    .social:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    .social {
        color: #fff;
        -webkit-transform: scale(0.8);
        /* Browser Variations: */
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
    }
    #social-fb:hover {
        color: #3B5998;
    }
    #social-tw:hover {
        color: #4099FF;
    }
    #social-gp:hover {
        color: #d34836;
    }
    #social-em:hover {
        color: #f39c12;
    }
}

.copyright {
    background-color: #2f0e44;
    color: #fff;
    bottom: 0;
    h4 {
        margin: 0;
        padding: 10px 0;
    }
}