footer{
	background-color: $primary-color;
	background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
	color: #fff;
	border-top: 5px solid #2f0e44;
	.footer-logo{
		padding-bottom: 10px;
	}
	h3{
		font-weight: bold;
	}
	ul{
		display: inline;
		li{
		list-style-type: none;
		a{
			color: #fff;
			transition: 0.2s;
			&:hover{
				color: #c0c0c0;
				border-left: 2px solid #fff;
				padding-left: 10px;
			}
		}
		}
	}
}

.copyright{
	background-color: #2f0e44;
	color: #fff;
	bottom: 0;
	h4{
		margin: 0;
		padding: 10px 0;
	}
}