.trans-back{
  background-color: transparent!important;
  transition: 0.5s;
  .nav-serv{
    transition: 0.5s;
    padding-top: 20px;
  }
}
.navbar{
  border-radius: 0px;
}
.navbar-inverse{
	background-color: $primary-color;
  transition: 0.5s;

	border: none;
  .navbar-brand{
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
	.navbar-nav>li>a{
		color: #fff;
		&:hover{
			color: #fff;
			background-color: #5b0791;
		}
	}
  .nav-serv{
    color: #fff;
    transition: 0.5s;
    .group{
      display: flex;
      transition: 0.2s;
      cursor:pointer;
      &:hover{
        box-shadow: 0px 0px 5px 4px $primary-color;
      }
      .icon{
        width: 25%;
      }
      .caption{
        width: 50%;
        padding-top: 15px;
        .txt-dis{
          text-align: left;
        }
      }
    }
  }
}

.main-image{
  height: 80vh;
  background: url(../img/bg.jpg) no-repeat top center;
  transition: .2s;
}
